<div>
    <h3>Resolution</h3>
    <mat-button-toggle-group name="resolution" [(ngModel)]="resolution">
        <mat-button-toggle value="0.25">x0.25</mat-button-toggle>
        <mat-button-toggle checked value="0.5">x0.5</mat-button-toggle>
        <mat-button-toggle value="1">x1</mat-button-toggle>
        <mat-button-toggle value="2">x2</mat-button-toggle>
        <mat-button-toggle value="3">x3</mat-button-toggle>
        <mat-button-toggle value="4">x4</mat-button-toggle>
        <mat-button-toggle value="8">x8</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<!-- TODO: -->
<!-- <button (click)="isSmooth = !isSmooth">SUave</button> -->

<app-pixel-image [pixelLevel]="pixelLevel" [palette]="pallete" [gridType]="borderType"
    [resolution]="resolution" [isSmooth]="isSmooth"></app-pixel-image>


<div class="flex flex-row gap-1 bg-slate-100 w-full p-1 m-auto select-none overflow-auto">
    <div class="flex flex-col">
        <input type="color" #colorpicker>
        <button class="text-indigo-600" (click)="addColor(colorpicker.value)">Add color</button>
    </div>
    <div *ngFor="let color of colors, index as i"
        class=" flex flex-col border-2 border-indigo-900 text-transparent w-14">
        <div class="cursor-pointer" (click)="activateColor(i)" [style]="'background-color: ' + color.color + ';'">
            {{color}}</div>
            <p class="text-indigo-800 text-end">{{color.quantity ? color.quantity : 0}}</p>
        <div [ngClass]="color.use ? 'bg-green-400' : 'bg-red-500'" class="w-2 h-2 rounded-full m-auto mt-1"></div>
    </div>
</div>

<!-- <input class="w-full" type="range" min="3" max="40" [(ngModel)]="num"> -->
<div class="flex flex-col justify-center">
    <div class="flex justify-between">
        <label>Pixel level</label>
        <label>{{slider.value}}</label>
    </div>
    <mat-slider class="" min="3" max="40">
        <input #slider matSliderThumb [(ngModel)]="pixelLevel">
    </mat-slider>

</div>


<div class="bg-indigo-50 my-4 mb-16 rounded-sm px-2 flex justify-between items-center">
    <label class="text-indigo-900" for="grid-options">Grid</label>
    <mat-radio-group id="grid-options">
        <mat-radio-button class="ml-3" checked (input)="selectBorder($event)" value="none">None</mat-radio-button>
        <mat-radio-button class="ml-3" (input)="selectBorder($event)" value="black">Black</mat-radio-button>
        <mat-radio-button class="ml-3" (input)="selectBorder($event)" value="white">White</mat-radio-button>
        <mat-radio-button class="ml-3" (input)="selectBorder($event)" value="mix">Mix</mat-radio-button>
    </mat-radio-group>
</div>
